shamefully-hoist=true
strict-peer-dependencies=false
always-auth=true
@gsap:registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=40211386-6c8f-4a85-badf-15f3046db122
//registry.npmjs.org/:_authToken=40211386-6c8f-4a85-badf-15f3046db122